<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Select activities that interest you</h2>
    <ul>
      <li v-for="(act, ind) in activities" :key="ind">
        <div class="activity-card">
          <!--<img v-bind:src="evt.photo" /> -->
          {{act.name}}
        </div>
      </li>
    </ul>
    <navbar></navbar>
  </div>
</template>

<script>
import {db} from '../utils/firebase'

var activitiesList = db.ref('activities')

export default {
  name: 'activities',
  data () {
    return {
      msg: 'Activities',
      activities: null
    }
  },
  firebase: {
    activities: activitiesList
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
