<template lang="html">
  <div>
    <h5>Sign in</h5>
    <b-form>
    <b-form-group label="Email address:">
      <b-form-input type="email" v-model="email" placeholder="email"></b-form-input>
    </b-form-group>
    <b-form-group label="Password:">
      <b-form-input type="password" v-model="password" placeholder="password"></b-form-input>
    </b-form-group>
    <button v-on:click="loginUser">Login</button>
    </b-form>
    <h5>Don't have an Account? <router-link to="signup">Sign up here</router-link></h5>
  </div>
</template>
<script>
import {firebase} from '../utils/firebase'

export default {
  name: 'auth',
  data () {
    return {
      email: null,
      password: null
    }
  },
  methods: {
    loginUser: function (e) {
      var vm = this
      console.log(vm.email)
      console.log(vm.password)
      firebase.auth().signInWithEmailAndPassword(vm.email, vm.password).catch(function (error) {
        // Handle Errors here.
        //  var errorCode = error.code;
        // var errorMessage = error.message;
        console.log(error)
      })
    }
  },
  beforeCreate () {
    var vm = this

    firebase.auth().onAuthStateChanged((user) => {
      console.log('SIGNUP: auth changed')
      if (user) {
        console.log('SIGNUP GOT US A USERID')
        vm.$router.push('/home')
      }
    })
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
