<template>
  <div class="inbox-page">
    <div class="row">
      <div class="col-xs-12 pre-scrollable">
      <ul v-for="(usr, ind) in users" :key="ind" class="list-group">
        <inbox-item v-bind:usr="usr"></inbox-item>
      </ul>
    </div>
    </div>
  <navbar></navbar>

  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import InboxItem from '@/components/InboxItem'

export default {
  name: 'Inbox',
  // firebase: {
  //   messages: userMessages
  // },
  data () {
    return {
      users: []
    }
  },
  components: {
    InboxItem
  },
  beforeCreate: function(){
    var vm = this;
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('Inbox: ' + uid);
    }
    vm.uid = uid;
    // vm.userGoing = db.ref('users/'+ uid + '/events');
    // vm.firebase.event_list = vm.userGoing.orderByChild('time').limitToLast(20)

  },
  mounted () {
    var vm = this;
    console.log(this)
    console.log(this.data)
    var myMessageRef =  db.ref('users/'+ this.uid + '/messages');
    var mySentRef =  db.ref('users/'+ this.uid + '/messages');

    var userCardsRef = db.ref('userCards');

    myMessageRef.on('value', (s,err) => {
      console.log('success from messages');
      var usrMsgObj = s.val();

      var usrMsgList = Object.keys(usrMsgObj).map((e) =>{
        console.log('setting up promise for: ' + e);

        return new Promise((res,rej) =>{

          userCardsRef.child(e).once('value',(er)=>{
            console.log('back from promise for: ' + e);
            //console.log(er.val());
            var threadItem = {
              userCard: er.val() || {photo: '', username: ''},
              userId: e,
              messages: Object.keys(usrMsgObj[e]).map((m) =>{
                return usrMsgObj[e][m];
              })
            };
            res(threadItem);
          });

        });

      })

      Promise.all(usrMsgList)
        .then((r) =>{
          console.log(r);
          
          this.users = r;
        },(error) =>{
          console.error(error);
        })
    })

    console.log('inbox component: mounted')
  },
  methods:{
    viewThread(event){
      console.log('clicked ');
      console.log(event);

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
