<template>
  <div class="container">
    <nav class="navbar navbar-top">
      <ul class="nav nav-pills">
        <li>
          <a href="#" class="navbar-back" @click="goBack()">
            <ui-icon icon="arrow-left"></ui-icon>
          </a>
        </li>
        <li>{{ msg }}</li>
      </ul>
    </nav>

    <h2>Messages</h2>
    <div class="row">
      <div class="col-xs-12">
        User Card Info Here (Photo and username)
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Tall Chat window here
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Enter Message..." /> <button>Send</button>
      </div>
    </div>
  <navbar></navbar>

  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'Messages',
  // firebase: {
  //   messages: userMessages
  // },
  data () {
    return {
      msg: 'Messages',
      users: []
    }
  },
  beforeCreate: function(){
    var vm = this;
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('Inbox: ' + uid);
    }
    vm.uid = uid;
    // vm.userGoing = db.ref('users/'+ uid + '/events');
    // vm.firebase.event_list = vm.userGoing.orderByChild('time').limitToLast(20)

  },
  mounted () {
    var vm = this;

    console.log('messages component: mounted')
  },
  methods: {
    goBack () {
      window.history.back();
    }
  },
  computed: {
    squaredIcons () {
      return false; 
    }
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>