<template>
  <li class="list-group-item">
  <div class="my-event-card container" v-on:click="viewEvent" >
    <div class="row">
      <div class="col-xs-2 my-event-card-photo">
        <img :src="photo" class="img img-rounded" width="100"/>
      </div>
      <div class="col-xs-10">
        <div class="container">
          <div class="row">
            <div class="col-xs-10">
              <p>{{ name }}</p>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-10">
              <p> Who is going?</p>
            </div>
          </div>
          <div class="row">
            <div v-for="(g, ind) in going" :key="ind" class="col-xs-10 user-going">
              <img :src="g.photo" class="img img-circle rounded-circle" height="40" width="40" v-bind:alt="g.username" />
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  </li>
    <!--<img :src="getSkeltonPath()" /> -->
    <!-- <b-img rounded="true" :src="photo" v-bind="photo" width="75" height="75" blank-color="#777" alt="img" class="m-1" /> -->
    <!-- <router-link :to="{ name: 'Detail', params: { eventId: evt['.key'] }}">{{evt.description}}</router-link> -->
</template>

<script>

import SkeletonCard from '../assets/img/skeletoncard.png'

const googleMapsKey = 'AIzaSyCWcLyE7iyJd5KryIRXixCWJGWuEg9pJR4';

export default {
  name: 'my-event-card',
  props: ['item'],
  data () {
  //  console.log('EventCard.vue data: ' + JSON.stringify(this.card.place.photos));
    var vm = this;
    var getPhotoUrl = '';
    //console.log(vm);
    if(vm.item.place){
    //  console.log('we have a card place!')
      if(vm.item.place.photos){
     //   console.log('we have place photos!');
        var placePhoto = vm.item.place.photos[0].photo_reference;
        getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 
   //     console.log('setting the photo url to: ' + getPhotoUrl)
        vm.item.photo = getPhotoUrl;
      }
    }
    /*        var placePhoto = _eD.place.photos[0].photo_reference;
       // const apiKey = googleMapsKey;

        var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

        _eD.photo = getPhotoUrl;
        */
    return {
      name: vm.item.name,
      photo: getPhotoUrl,
      going: vm.item.going || []
    }
  },
  beforeCreate () {
  //  console.log('beforeCreate() event-card')
   
  },
  created () {
 //   console.log('created() in event-card')
  },
  methods: {
    getSkeltonPath () {
      return SkeletonCard;
    },
    viewEvent (){
      var vm = this;
      console.log('viewevent clicked');
      console.log(this);
      vm.$router.push("detail/" + vm.item.eventId);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
