<template>
<b-navbar class="navbar navbar-bottom">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <router-link to="/home" class="nav-link">HOME</router-link>
    </li>
    <!--<li class="nav-item">
      <router-link to="/activities" class="nav-link">ACTIVITIES</router-link>
    </li> -->
    <li class="nav-item">
      <router-link to="/inbox" class="nav-link">INBOX</router-link>
    </li>
    <li class="nav-item">
       <router-link to="/events" class="nav-link">MY EVENTS</router-link>
    </li>
    <li class="nav-item">
       <router-link to="/profile" class="nav-link">PROFILE</router-link>
    </li>
  </ul>


  <!--
  <div class="collapse navbar-collapse">

    <b-navbar-nav>
        <b-nav-item href="#">
          <router-link to="home" class="nav-link">HOME</router-link>
        </b-nav-item>
        <b-nav-item href="#">
          <router-link to="activities" class="nav-link">ACTIVITIES</router-link>
        </b-nav-item>
        <b-nav-item href="#">
          <router-link to="inbox" class="nav-link">INBOX</router-link>
        </b-nav-item>
        <b-nav-item href="#">
          <router-link to="events" class="nav-link">MY EVENTS</router-link>
        </b-nav-item>
        <b-nav-item href="#">
          <router-link to="profile" class="nav-link">PROFILE</router-link>
        </b-nav-item>
    </b-navbar-nav>

  </div>
-->
</b-navbar>
<!-- navbar-1.vue -->
</template>

<script>

export default {
  name: 'Nav',
  created () {
    console.log('Navbar loaded')
  }
}
</script>

<style scoped>
.navbar-bottom {
  background: #00D231;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
}
.navbar-bottom a {
  color: #BFFFCE;
}
.navbar-bottom a:hover {
  color: #ECFFF1;
}
.navbar-bottom .nav {
  margin: 0 auto;
}
</style>
