<template>

  <div class="preferences-page">

      <h2>{{ msg }}</h2>
      <ul>
        <li>
          {{ profile.ages }}
        </li>
        <li>
          {{ profile.activities }}
        </li>
      </ul>
      <button>Update</button>

  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'preferences',
  data () {
    return {
      msg: 'Your preferences',
      profile: {}
    }
  },
  // firebase: {
  //   profile: eventList.orderByChild('eventUtcTime').limitToLast(20)
  //           var placePhoto = _eD.place.photos[0].photo_reference;
  //      // const apiKey = googleMapsKey;

  //       var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

  //       _eD.photo = getPhotoUrl;
         
  // },
  created () {
    console.log('created preferences')
  },
  beforeCreate () {
    console.log('before')

    var vm = this;
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('preferences.vue: ' + uid);
    }
    vm.uid = uid;
    db.ref('users/'+uid).child('preferences').once('value',(snap)=>{
      if(snap){
        console.log(snap.val());
        vm.profile = snap.val();
      }else{
        console.log('no profile data for: ' +uid);
      }
    },(err) =>{
      console.error(err);
    })
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon
  },
  methods: {
  }
  // firebase: function () {
  //   var vm = this
  //   console.log('firebase in profile')
  //   console.log(vm)
  //   return {
  //     profile: db.ref('users/' + vm.uid)
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
.profile-img {
  max-width:100px
}
</style>
