<template>

  <div class="profile-public">
    <ul>
      <li>
        {{ profile.username }}
      </li>
      <li><img :src="profile.photo" class="rounded-circle" height="75" width="75" /></li>
      <li>
        <input type="text" :value="profile.username" placeholder="Username" />
      </li>
      <li>
        <input type="text" :value="profile.country" placeholder="Country" />
      </li>
      <li>
        <input type="text" :value="profile.age" placeholder="Age" />
      </li>
      <li>
        <textarea v-model="profile.bio" placeholder="Bio"></textarea>
      </li>
    </ul>
      
    <div class="row">
      <div>
        <button>Update</button>
      </div>
      <div>
        <button v-on:click="logout">Logout</button>
      </div>
    </div>

  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'profile',
  data () {
    return {
      msg: 'Your Profile',
      profile: {}
    }
  },
  // firebase: {
  //   profile: eventList.orderByChild('eventUtcTime').limitToLast(20)
  //           var placePhoto = _eD.place.photos[0].photo_reference;
  //      // const apiKey = googleMapsKey;

  //       var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

  //       _eD.photo = getPhotoUrl;
         
  // },
  created () {
    console.log('Profile.vue created profile')
  },
  beforeCreate () {
    console.log('Profile.vue beforeCreate')

    var vm = this;
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('Profile.vue: ' + uid);
    }
    vm.uid = uid;
    db.ref('users/'+uid).once('value',(snap)=>{
      if(snap){
        console.log(snap.val());
        vm.profile = snap.val();
      }else{
        console.log('no profile data for: ' +uid);
      }
    },(err) =>{
      console.error(err);
    })
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon
  },
  mounted: function(){
    console.log('Profile.vue mounted');
  },
  methods: {
    logout: function(){
      firebase.auth().signOut();
    },
    upload: function () {
      // File or Blob named mountains.jpg
      var file = this.profile.photo

      // Create the file metadata
      var metadata = {
        contentType: 'image/jpeg'
      }

      // Upload file and metadata to the object 'images/mountains.jpg'
      var uploadTask = storage.child('user_images/up/' + file.name).put(file, metadata)

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
        function (snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          console.log('Upload is ' + progress + '% done')
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log('Upload is paused')
              break
            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log('Upload is running')
              break
          }
        }, function (error) {
          // A full list of error codes is available at
          // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case 'storage/unauthorized':
              // User doesn't have permission to access the object
              break

            case 'storage/canceled':
              // User canceled the upload
              break

            case 'storage/unknown':
              // Unknown error occurred, inspect error.serverResponse
              break
          }
        }, function () {
          // Upload completed successfully, now we can get the download URL
          var downloadURL = uploadTask.snapshot.downloadURL
          console.log(downloadURL)
        })
    }
  }
  // firebase: function () {
  //   var vm = this
  //   console.log('firebase in profile')
  //   console.log(vm)
  //   return {
  //     profile: db.ref('users/' + vm.uid)
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
.profile-img {
  max-width:100px
}
</style>
