<template>

  <div class="profile-public pre-scrollable">

    <nav class="navbar navbar-top navbar-green">
      <ul class="nav nav-pills">
        <li>
          <a href="#" class="navbar-back" @click="goBack()">
            <ui-icon icon="arrow-left"></ui-icon>
          </a>
        </li>
        <li>Profile</li>
      </ul>
    </nav>

    <div class="container">
      <ul class="nav nav-pills">
        <li class="active"><a href="#profile-tab" data-target="#profile-tab" data-toggle="pill">Profile</a></li>
        <li><a href="#profile-preferences" data-toggle="pill" data-target="#preferences-tab">Preferences</a></li>
      </ul>
      
      <div class="row">
          
          <div class="tab-content col-xs-12">
            <div id="profile-tab" class="tab-pane fade in active">
              <profile></profile>
            </div>
            <div id="preferences-tab" class="tab-pane fade in active">
              <preferences></preferences>
            </div>
          </div>

      </div>
      </div>

      <navbar></navbar>
  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'

import Profile from '@/components/Profile'
import Preferences from '@/components/Preferences'

Vue.use(VueSVGIcon)

export default {
  name: 'profile-tab',
  data () {
    return {
      profile: {}
    }
  },
  // firebase: {
  //   profile: eventList.orderByChild('eventUtcTime').limitToLast(20)
  //           var placePhoto = _eD.place.photos[0].photo_reference;
  //      // const apiKey = googleMapsKey;

  //       var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

  //       _eD.photo = getPhotoUrl;
         
  // },
  created () {
    console.log('created profile')
  },
  beforeCreate () {
    console.log('before')

    var vm = this
    firebase.auth().onAuthStateChanged(function (user) {
      console.log(user);
      console.log('auth from PROFILE TAB')
     // vm.$bindAsObject('profile', db.ref('users/' + user.uid) )
    })
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon,
    Profile,
    Preferences
  },
  methods: {
  }
  // firebase: function () {
  //   var vm = this
  //   console.log('firebase in profile')
  //   console.log(vm)
  //   return {
  //     profile: db.ref('users/' + vm.uid)
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
.profile-img {
  max-width:100px
}
</style>
