<template lang="html">
  <b-row>
    <div class="navigation">
      <span class="btn-back" @click="handleBackButton()">BACK</span>
      <span class="navigation-title">{{ message }}</span>
    </div>
  </b-row>
</template>
<script>
export default {
  name: 'Header',  
  methods: {
    handleBackButton: function() {
      this.$emit('onButtonClick')
    }
  },
  computed: {},
  components: {},
  props: {
    message: {
      type: String,
      default: 'Log in to your account'
    }
  },
  data () {
    return {}
  },
  beforeCreate () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navigation {
    line-height: 1.5;
    width: 100%;
    background: #1fc528;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .navigation-title {
    font-weight: 600;
  }

  .btn-back {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 10px;
    font-weight: 700;
  }
</style>
